.athena-home {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 44px;
  padding-right: 44px;
  background-color: #E4E4E4;
}
.athena-home .athena-home-search{
  width: 50%;
  padding-top: 20px;
}
.athena-home .athena-home-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.athena-home .athena-home-info > div{
  height: 25px;
  line-height: 25px;
}
.athena-home .athena-home-info .athena-home-contact{
  color: #893FFB;
}
.athena-home-info .athena-home-showFour > span {
  color: #0362FB;
  cursor: pointer;
}
.athena-home .athena-home-contactCon {
  padding-bottom: 30px;
  flex: 1;
}
.athena-home .athena-home-contactCon .athena-home-contactItemCon {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-right: 15px;
}
