@font-face {
  font-family: 'athena';
  src:
    url('fonts/athena.ttf?29tzvr') format('truetype'),
    url('fonts/athena.woff?29tzvr') format('woff'),
    url('fonts/athena.svg?29tzvr#athena') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="athena-"], [class*=" athena-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'athena' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.athena-activity-enabled-button:before {
  content: "\e90b";
}
.athena-add-interaction:before {
  content: "\e90c";
}
.athena-add-note:before {
  content: "\e90d";
}
.athena-add-phone-call:before {
  content: "\e90e";
}
.athena-alerts:before {
  content: "\e911";
}
.athena-associated-with-oppty-graphic:before {
  content: "\e913";
}
.athena-bookmarks-idle:before {
  content: "\e915";
}
.athena-by-product-idle:before {
  content: "\e917";
}
.athena-clicked-offer-graphic:before {
  content: "\e919";
}
.athena-client-information:before {
  content: "\e91b";
}
.athena-client-references-idle:before {
  content: "\e91c";
}
.athena-comments:before {
  content: "\e91e";
}
.athena-completed-idle:before {
  content: "\e91f";
}
.athena-completed-selected:before {
  content: "\e920";
}
.athena-contacts:before {
  content: "\e921";
}
.athena-copy-idle:before {
  content: "\e922";
}
.athena-crossbrand-advisor-idle:before {
  content: "\e923";
}
.athena-cross-sell-recommendation-idle:before {
  content: "\e924";
}
.athena-delete:before {
  content: "\e925";
}
.athena-digital-mastery-idle:before {
  content: "\e926";
}
.athena-dismiss-idle:before {
  content: "\e927";
}
.athena-download:before {
  content: "\e928";
}
.athena-edit-comment-idle:before {
  content: "\e929";
}
.athena-edit-graphic:before {
  content: "\e92a";
}
.athena-education:before {
  content: "\e92b";
}
.athena-email-idle:before {
  content: "\e92c";
}
.athena-events-idle:before {
  content: "\e92d";
}
.athena-expand-graphic:before {
  content: "\e92e";
}
.athena-facebook-button:before {
  content: "\e92f";
}
.athena-fastpass-button:before {
  content: "\e930";
}
.athena-favorites-idle:before {
  content: "\e931";
}
.athena-globe:before {
  content: "\e934";
}
.athena-go-button:before {
  content: "\e935";
}
.athena-go-to-link-button:before {
  content: "\e937";
}
.athena-go-to-link-small-graphic:before {
  content: "\e938";
}
.athena-help-idle:before {
  content: "\e93a";
}
.athena-hide-graphic:before {
  content: "\e93b";
}
.athena-home-idle:before {
  content: "\e93c";
}
.athena-important-alert-graphic:before {
  content: "\e93e";
}
.athena-inactive_alert:before {
  content: "\e93f";
}
.athena-information-idle:before {
  content: "\e940";
}
.athena-interactions:before {
  content: "\e941";
}
.athena-leads-idle:before {
  content: "\e942";
}
.athena-linkedin-button:before {
  content: "\e943";
}
.athena-lock:before {
  content: "\e944";
}
.athena-magn-logo:before {
  content: "\e945";
}
.athena-make_priority:before {
  content: "\e946";
}
.athena-menu-idle:before {
  content: "\e947";
}
.athena-more-icons-graphic:before {
  content: "\e948";
}
.athena-moved-to-ss3-graphic:before {
  content: "\e949";
}
.athena-moved-to-ss9-graphic:before {
  content: "\e94a";
}
.athena-myclients:before {
  content: "\e94b";
}
.athena-my-rep-page-idle:before {
  content: "\e94c";
}
.athena-my-territory-idle:before {
  content: "\e94d";
}
.athena-new-oppty-graphic:before {
  content: "\e94e";
}
.athena-news-feed-idle:before {
  content: "\e94f";
}
.athena-no-alerts:before {
  content: "\e950";
}
.athena-note-hover:before {
  content: "\e951";
}
.athena-notes-and-interactions-idle:before {
  content: "\e952";
}
.athena-opened-offer-graphic:before {
  content: "\e955";
}
.athena-owner-reverted:before {
  content: "\e956";
}
.athena-pause-idle:before {
  content: "\e957";
}
.athena-pending-activity-button:before {
  content: "\e958";
}
.athena-phone-call-button:before {
  content: "\e959";
}
.athena-plus-button:before {
  content: "\e95b";
}
.athena-prospectiq:before {
  content: "\e95d";
}
.athena-prospectiq-idle:before {
  content: "\e95e";
}
.athena-prospectreach-idle:before {
  content: "\e95f";
}
.athena-redbooks-idle:before {
  content: "\e960";
}
.athena-remove_permanently:before {
  content: "\e961";
}
.athena-remove-idle:before {
  content: "\e962";
}
.athena-reply-idle:before {
  content: "\e963";
}
.athena-restore-deleted-oppty-idle:before {
  content: "\e964";
}
.athena-resume-idle:before {
  content: "\e965";
}
.athena-return-button:before {
  content: "\e966";
}
.athena-revenue_potential:before {
  content: "\e967";
}
.athena-salesconnect-button:before {
  content: "\e968";
}
.athena-sasha-button:before {
  content: "\e969";
}
.athena-save_to_excel:before {
  content: "\e96a";
}
.athena-saved-results-idle:before {
  content: "\e96b";
}
.athena-search-button:before {
  content: "\e96c";
}
.athena-search-facebook-graphic:before {
  content: "\e96d";
}
.athena-search-google-graphic:before {
  content: "\e96e";
}
.athena-search-linkedin-graphic:before {
  content: "\e96f";
}
.athena-search-salesconnect-graphic:before {
  content: "\e970";
}
.athena-search-twitter-graphic:before {
  content: "\e971";
}
.athena-sent-offer-graphic:before {
  content: "\e972";
}
.athena-social-setting:before {
  content: "\e978";
}
.athena-soe-idle:before {
  content: "\e979";
}
.athena-sor-idle:before {
  content: "\e97a";
}
.athena-step_failed:before {
  content: "\e97e";
}
.athena-take-action-selectedsvg:before {
  content: "\e982";
}
.athena-task-selected:before {
  content: "\e983";
}
.athena-team-builder-idle:before {
  content: "\e984";
}
.athena-tech-expertise-idle:before {
  content: "\e985";
}
.athena-thumbs-down-idle:before {
  content: "\e986";
}
.athena-thumbs-down-selected:before {
  content: "\e987";
}
.athena-thumbs-up-idle:before {
  content: "\e988";
}
.athena-thumbs-up-selected:before {
  content: "\e989";
}
.athena-triumphs:before {
  content: "\e98c";
}
.athena-twitter-button:before {
  content: "\e98d";
}
.athena-video:before {
  content: "\e98e";
}
.athena-viewed-graphic:before {
  content: "\e990";
}
